@import "variables.scss";

.cli-table {
  width: 100%;
  background-color: #fff;
  &-user {
    display: flex;
    justify-content: left;
    align-items: center;
    // color: #6c757d;
  }
}

.btn-crear {
  border: none;
  border-radius: 3px;
  height: 26px;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.icon-soles {
  font-weight: 400;
  margin-right: 3px;
}

.total {
  color: #97999b;
  font-size: 18px;
  font-weight: 550;
}

@media (max-width: 850px) {
}
